<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <link id="favicon" rel="shortcut icon" type="image/png" href="https://web.whatsapp.com/img/favicon_c5088e888c97ad440a61d247596f88e5.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="assets/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        <main id="root">
            <div id="chat-window">

                <!-- Sezione di sinistra -->
                <div id="left-section">

                    <!-- Barra in alto di sinistra -->
                    <div id="left-bar">
                        <div class="avatar-wrapper">
                            <img src="./img/avatars/my_avatar.jpg" alt="">
                        </div>
                        <div class="option-section">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- Barra di ricerca -->
                    <div id="search-bar">
                        <div class="search-container">
                            <button>
                                <i class="fa fa-search"></i>
                            </button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" name="search" class="input-bar" v-model="search_chat" @keyup="search_chat.length >= 3 ? searching() : not_searching()">
                        </div>
                    </div>

                    <!-- Lista delle chat -->
                    <div id="chat-list">
                        <div class="chat" v-for="(contact, index) in chats" @click="select_chat(index)" :class="(current_chat == index ? 'grey' : 'white') + ' ' + (contact.visible ? 'visible' : 'not-visible')" >
                            <div class="avatar-wrapper">
                                <img :src="'./img/avatars/avatar_' + index + '.jpg'" alt="">
                            </div>
                            <div class="info-chat">
                                <p class="chat-title">{{contact.name}}</p>
                                <div v-if="contact.messages.length">
                                    <p class="infos">{{contact.messages[contact.messages.length - 1].text}}</p>
                                    <p class="infos">{{last_message_hour(contact.messages[contact.messages.length - 1].date)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sezione di destra -->
                <div id="right-section">

                    <!-- Barra in alto di destra -->
                    <div id="right-bar">
                        <div class="avatar-wrapper">
                            <img :src="'./img/avatars/avatar_' + current_chat + '.jpg'" alt="">
                        </div>
                        <div class="info-chat">
                            <p class="chat-title">{{chats[current_chat].name}}</p>
                            <p class="infos" v-if="chats[current_chat].messages.length">Ultimo Accesso: {{last_message_hour(chats[current_chat].messages[chats[current_chat].messages.length - 1].date)}}</p>
                        </div>
                        <div class="option-section">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>

                    <!-- Sezione corpo messaggi -->
                    <div class="messages-section">

                        <!-- Se è un messaggio inviato allinea a destra -->
                        <div class="text-row" v-for="(message, message_index) in chats[current_chat].messages" :class="message.sent ? 'sent-row' : null">

                            <!-- Se è un messaggio inviato colora di verde e sposta a destra -->
                            <div class="text-bubble" :class="message.sent ? 'sent' : 'received'">

                                <div>
                                    <p>
                                        {{message.text}}
                                    </p>
                                    <p class="date-info">
                                        {{last_message_hour(message.date)}}
                                    </p>
                                </div>

                                <!-- Freccia per visualizzare il menu per cancellare il messaggio -->

                                <i class="fas fa-angle-down visible"  @click="show_hide_menu(message_index)">
                                </i>

                                <div class="bubble-menu" :class="message.del ? 'visible' : 'not-visible'" @click="delete_this_message(message_index)">
                                    <p>
                                        Delete Message
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Bara di messaggistica in basso a destra -->
                    <div class="type-bar">

                        <div class="emoji-attach">
                            <i class="far fa-grin-alt "></i>
                            <i class="fas fa-paperclip"></i>
                        </div>

                        <div class="type-section">
                            <input type="text" placeholder="Scrivi un messaggio"class="input-bar" v-model="new_text_message" @keyup.enter="send_message()">
                        </div>

                        <div class="audio">
                            <i class="fas fa-microphone"></i>
                        </div>

                    </div>

                </div>

            </div>
        </main>



        <script src="assets/main.js" charset="utf-8"></script>
    </body>
</html>
