*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* #009688 Verde sfondo */
/* #06d755 verde Whatsapp */
/* #dadbd4 bianco sfondo */
/* #9d9d9d colore icone */
/* #e7e7e7 bordo centrale */
/* #ededed sfondo barre in alto */
/* #f8f9fa bianco chat */
/* #dcf8c6 messaggio inviato */
/* #f0f0f0 barra di scrittura messaggi */

main{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/background.png");
    background-color: #dadbd4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    cursor: pointer;
}

#chat-window{
    width: 1396px;
    height: calc( 100vh - 40px );
    margin: 20px 0;
    background-color: #f8f9fa;
    display: flex;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0, .2);
}

#left-section{
    width: 30%;
    height: 100%;
    border-right: 1px solid #e7e7e7;
}

#right-section{
    width: 70%;
    height: 100%;
}

#left-bar, #right-bar{
    height: 60px;
    background-color: #ededed;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.option-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.option-section i{
    margin-right: 25px;
    color: #919191;
}


.avatar-wrapper{
    height: 40px;
    width: 40px;
}

.avatar-wrapper img{
    width: 100%;
    border-radius: 50%;
}

.infos{
    font-size: 13px;
    color: #919191;
}

.info-chat{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-bar{
    height: 100%;
    border: none;
    color: #919191;
    outline: none;
}

/************************* Left Section */

/* ************ Search Bar */
#search-bar{
    height: 50px;
    padding: 7px 12px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #dcdcdc;
}

.search-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 18px;
}

.search-container button{
    width: 15%;
    height: 100%;
    padding-left: 15px;
    text-align: left;
    background-color: white;
    border: none;
    border-radius: 18px 0 0 18px;
    outline: none;
    cursor: pointer;
}

.search-container button i{
    color: #919191;
}

.search-container .input-bar{
    width: 85%;
    border-radius: 0 18px 18px 0;
}



/* ************ Chat */
.chat{
    height: 72px;
    display: flex;
    cursor: pointer;
}

.chat .avatar-wrapper{
    height: 50px;
    width: 50px;
    margin: auto;
}

.chat .info-chat{
    width: 80%;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #dcdcdc;
}


/* Right Section */

#right-bar{
    padding: 10px 15px;
    justify-content: space-between;
}

#right-bar .avatar-wrapper{
    height: 40px;
    width: 40px;
}

#right-bar .info-chat{
    width: 780px;
}

#right-bar .option-section{
    width: 90px;
}

.messages-section{
    height: calc(100% - 120px);
    padding: 20px 90px;
    background-image: url("../img/chat-bg.png");
    overflow-y: auto;
    /* .messages-section.scrollTop = objDiv.scrollHeight; */
    /* overflow-y: scroll; */
}

.type-bar{
    height: 60px;
    padding: 10px;
    display: flex;
    background-color: #f0f0f0
}

.emoji-attach{
    width: 10%;
}

.audio{
    width: 5%;
}

.type-section{
    width: 85%;
    border-radius: 18px;
}

.emoji-attach, .audio{
    display: flex;
}

.emoji-attach i, .audio i{
    font-size: 24px;
    margin: auto 10px;
    color: #919191;
}

.type-section .input-bar{
    width: 100%;
    border-radius: 18px;
    padding: 0 10px;
}

.text-row{
    height: 70px;
    padding: 10px 0;
    display: flex;
}

.text-bubble{
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
}


.text-bubble.sent{
    background-color: #dcf8c6;
}

.text-bubble.sent .fa-angle-down{
    position: relative;
    margin-left: 10px;
}

.text-bubble.received{
    background-color: white;
}

.sent-row{
    justify-content: flex-end;
}

.visible{
    display: flex;
}

.not-visible{
    display: none;
}

.bubble-menu{
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 12px;
    padding: 10px 5px;
    width: 100px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0, .2);
    border-radius: 3px;
    font-weight: lighter;
}
