*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

/* #009688 Verde sfondo */
/* #06d755 verde Whatsapp */
/* #dadbd4 bianco sfondo */
/* #9d9d9d colore icone */
/* #e7e7e7 bordo centrale */
/* #ededed sfondo barre in alto */
/* #f8f9fa bianco chat */

main{
    height: 100vh;
    width: 100vw;
    background-image: url("../img/background.png");
    background-color: #dadbd4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-window{
    width: 1396px;
    height: calc( 100vh - 40px );
    margin: 20px 0;
    background-color: #f8f9fa;
    display: flex;
    box-shadow: 0 1px 1px rgba(black, 0.06),0 2px 5px rgba(black, 0.2);
}

#left-section{
    width: 30%;
    height: 100%;
    border-right: 1px solid #e7e7e7;
}

#right-section{
    width: 70%;
    height: 100%;
}

#left-bar, #right-bar{
    height: 60px;
    background-color: #ededed;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.option-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.option-section i{
    margin-right: 25px;
    color: #919191;
}

/* .avatar-chat{
    width: 20%;
    display: flex;
    border: 1px solid black;
} */

.avatar-wrapper{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.infos{
    font-size: 13px;
    color: #919191;
}




/* Left Section */

#search-bar{
    height: 50px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #dcdcdc;
}

.chat{
    height: 72px;
    display: flex;
}

.chat .avatar-wrapper{
    height: 50px;
    width: 50px;
    margin: auto;
}

.chat .info-chat{
    width: 80%;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}


/* Right Section */

#right-bar{
    padding: 10px 15px;
    justify-content: space-between;
}

#right-bar .avatar-wrapper{
    height: 40px;
    width: 40px;
}

#right-bar .info-chat{
    width: 780px;
    border-bottom: 1px solid black;
}

#right-bar .option-section{
    width: 90px;
    border-bottom: 1px solid green  ;
}
